Flask==0.8
Flask-Mail==0.6.1
Flask-SQLAlchemy==0.15
Flask-Script==0.3.3
Jinja2==2.6
SQLAlchemy==0.7.6
Werkzeug==0.8.3
argparse==1.2.1
blinker==1.2
chardet==1.0.1
lamson==1.1
lockfile==0.9.1
mock==0.8.0
nose==1.1.2
psycopg2==2.4.5
python-daemon==1.6
redis==2.4.11
wsgiref==0.1.2
