{% extends "base.html" %}
{% block content %}
<div class='row'>
<div class='span8 offset2'>
<h1>5C Word Attack</h1>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
    <div class='alert alert-{{ category }}'>
        <a class="close" data-dismiss="alert">×</a>
          {{ message }}
    </div>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form class='form-horizontal' id="login" action="{{url_for('login')}}" method="post">
<fieldset>
    <legend>Login</legend>
    <div class="controls">
        <input type="text" name="email" class="input-medium" placeholder="5C Email">
    </div>
    <div class="controls">
        <input type="password" name="password" class="input-medium" placeholder="Password">
    </div>
    <div class="controls">
        <button type="submit" class="btn">Sign in</button>
    </div>
</fieldset>
</form>

<form class="form-horizontal" id="register" action="{{url_for('register')}}" method="post">
<fieldset>
    <legend>Register</legend>
    <p>Register with your 5C email address. We'll email you a link to validate your email so you can earn points for your school!</p>
    <div class="controls">
        <input type="text" name="email" class="input-medium" placeholder="5C Email">
    </div>
    <div class="controls">
        <input type="password" name="password" class="input-medium" placeholder="Password">
    </div>
    <div class="controls">
        <button type="submit" class="btn">Register</button>
    </div>
</fieldset>
</form>
</div>
</div>

{% endblock %}
