{% extends "base.html" %}
{% block content %}
<div class="row">
    <div class='span4 offset4'>
        <h1>Stats</h1>
    </div>
</div>

<div class="row">
    <div class='span8 offset2'>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
        <div class='alert alert-{{ category }}'>
            <a class="close" data-dismiss="alert">×</a>
              {{ message }}
        </div>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    </div>
</div>

<div class="row">
    <div class='span8 offset2'>
        <h4>Your Stats</h4>
        <p>Games played: {{ games }}</p>
        <p>Games won: {{ wins }}</p>
        <div class="progress progress-success">
            <div class="bar" style="width: {{percent*100}}%;"></div>
        </div>

        <h4>College Stats</h4>
        <div id="cStats" class="graph"></div>
        <!--<p>Pomona</p>-->
        <!--<div class="progress progress-info">-->
            <!--<div class="bar" style="width: {{po*100}}%;"></div>-->
        <!--</div>-->
        <!--<p>CMC</p>-->
        <!--<div class="progress progress-info">-->
            <!--<div class="bar" style="width: {{cm*100}}%;"></div>-->
        <!--</div>-->
        <!--<p>Harvey Mudd</p>-->
        <!--<div class="progress progress-success">-->
            <!--<div class="bar" style="width: {{hm*100}}%;"></div>-->
        <!--</div>-->
        <!--<p>Pitzer</p>-->
        <!--<div class="progress progress-success">-->
            <!--<div class="bar" style="width: {{pz*100}}%;"></div>-->
        <!--</div>-->
        <!--<p>Scripps</p>-->
        <!--<div class="progress progress-success">-->
            <!--<div class="bar" style="width: {{sc*100}}%;"></div>-->
        <!--</div>-->
        {% if verified %}
            <a class="btn btn-success" href="{{ url_for('newGame') }}">New Game</a>
        {% else %}
            <a class="btn btn-success disabled" href="#">New Game</a>
        {% endif %}
    </div>
</div>
{% endblock %}

{% block script %}
<script src="/static/js/jquery.flot.min.js"></script>
<script src="/static/js/jquery.flot.pie.min.js"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var data = [
            { label: "Pomona", data:{{ po*100 }} },
            { label: "CMC", data:{{ cm*100 }} },
            { label: "Harvey Mudd", data:{{ hm*100 }} },
            { label: "Pitzer", data:{{ pz*100 }} },
            { label: "Scripps", data:{{ sc*100 }} }
        ];
        $.plot($("#cStats"), data, 
            { series: { pie: { show: true } }, legend: { show: false } }
        );
    });
</script>
{% endblock %}
